html{
    background-color: white;

}
body{
  background-color: #white;
  margin: 0 auto;
  width: 970px;
  font-family: arial, helvetica, sans-serif;



}
a{
  text-decoration: none;
  color: #373535;
}

/*header*/
header {
  height:100px;
  padding-top: 20px;
}

ul{
  padding: 0;
}

li{
  display:list;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: context-menu;
opacity: 1.0;
/*  border-color: white;
  border-right-style:hidden;*/
list-style-position: inside;
display: left;
clear: both;
position:relative;
left: -200px;





}
header li:first-child{
/*  border-right 1px solid blue;*/

}
.right{
  width: 300px;
  float:left;

}
.right ul {
  padding-left: 0px;
  padding-top: 0px;

}

#logo {
  width: 300px;
  padding-left: 0px;
  padding-top: 0px;
  float: left;
  text-align: center;
  color: red;
  font-size: 36px;
  margin-top: 0px;

}
.date {
  float: right;
  font-weight: bold;
  font-size: 16px;
  color: green;
}


h2{
  color: red;
  text-align: left;
  font-size: 25px;
  text-decoration: underline;
  padding-top: 30px;

}

p {
  color: black;
  text-align: justify;
  font-size: 18px;
  padding-top: 10px;

}
h3 {
  color: red;
  text-align: left;
  font-size: 25px;
  text-decoration: underline;
  padding-top: 30px;
}

p {
  color: black;
  text-align: justify;
  font-size: 18px;
  padding-top: 10px;

}

/*style email bottomn*/

#main {

  float: right;
  cursor: cell;
  padding-top: 10px;
  padding-right: 70px;
  position: relative;
  right: 0px;


}
/*body{
  background-image: url('images/backgroung.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  padding-bottom: 500px;


}*/
/*  background-image: url('images/backgroung.png');*/
#welcome {

padding-left: 0px;
padding-bottom: 500px;
opacity: 0.7;
position: relative;
left: 50px;
}
